<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realwear.uxlibrary_example">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".buttonsexample.CommandButtonExampleActivity"
            android:label="@string/title_buttons" />
        <activity
            android:name=".levelcontrolexample.LevelControlExampleActivity"
            android:label="@string/activity_title_level_control" />
        <activity
            android:name=".horizontalselectorexample.HorizontalSelectorExampleActivity"
            android:label="@string/title_horizontal_selector" />
        <activity
            android:name=".moreoptionsexample.MoreOptionsExampleActivity"
            android:label="@string/title_more_options" />
        <activity
            android:name=".textviewexample.StyledTextViewExampleActivity"
            android:label="@string/title_textview" />
        <activity
            android:name=".radiogroupexample.RadioGroupExampleActivity"
            android:label="@string/title_radio_group" />
        <activity
            android:name=".commandbarexample.CommandBarExampleActivity"
            android:label="@string/command_bar" />
    </application>

</manifest>